<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}Welcome{% endblock %} — photo_site</title>
<body>
  {% set root = site.get_root() %}
  <header>
    <h1><a href="{{ root.path }}" style="text-decoration: none">{{ root.title }}</a></h1>

    <nav>
      <ul class="nav navbar-nav">

        <li>
            <a href="{{ root.path }}">{{ root.title }}</a>
        </li>
        {% for child in root.children recursive %}
          {% if this.is_child_of(child) %}
              >
              <li>
                <a href="{{ child.path }}">{{ child.title }}</a>
              </li>
          {% endif %}
          {{ loop(child.children) }}
        {% endfor %}
      </ul>
    </nav>

  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    &copy; Copyright 2020 by Lena Bartell.
  </footer>
</body>
