{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <h2>{{ this.title }}</h2>
  {{ this.body }}

  <nav>
    <ul class="nav">
      {% for child in this.children %}
        <li{% if this == child %} class="active"{% endif
          %}><a href="{{ child|url }}">{{ child.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>

  {% for image in this.attachments.images %}
    <a href="{{ image|url }}">
      <img src="{{ image|url }}" width="300">
    </a>
  {% endfor %}
{% endblock %}
